*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
 
  background-image: url("https://www.lavanguardia.com/r/GODO/LV/p5/WebSite/2018/05/24/Recortada/img_azarzoso_20180528-104057_imagenes_lv_terceros_istock-524620835-kwO-U443797992681P8G-992x558@LaVanguardia-Web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Bitter', serif;  
  



}
#Profile-Card{
     position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    background-color: hsla(225, 100%, 40%, 40%);
    border-radius: 5%;
    box-shadow: 5px 10px 25px 25px hsla(0, 0%, 55%, 50%) inset;
    

    
}

  #Profile-Images{
   
   perspective: 62.5rem;
   position: relative;
   
   

  }

  #flip-card{
   
   transition: transform 0.6s;
  transform-style: preserve-3d;
   
  }
    
    
 
  #Profile-Images:hover #flip-card{
     transform: rotateY(180deg);
  }
  #image-front, #image-back{
    position: absolute;
    
    backface-visibility: hidden;
  }
  #image-back{
    transform: rotateY(180deg);
  }
.black{
    position: relative;
}
.name, .student{
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
  
 
  text-align: center;
    
}
.name{
    white-space: nowrap;
}
@media(max-width: 850px){
    #Profile-Card{
        width: 20rem;
        height: 25rem;
    }
    
}


#About{
    
}
@media (min-width: 850px){
    #Profile-Card{
   width: 50rem;
   height: 25rem;
    }
    
    #Profile-Images, #flip-card, img{  
    width: 15.265rem;
   height: 18.75rem;
    
}
}
@media(max-width: 850px){
    #Profile-Card{
        width: 20rem;
        height: 25rem;
        
        
    }
    
   
    #Profile-Images, #flip-card, img {
        width: 15rem;
        height: 16rem;
        margin-left: auto;
        margin-right: auto;
    
        
    }

     
    
}

